.rg .stroke-0, .rg .stroke-9, .rg .stroke-18, .rg .stroke-27
{
border-color: #70AB1A; stroke: #70AB1A;
}

.rg .fill-0, .rg .fill-9, .rg .fill-18, .rg .fill-27
{
background-color: #70AB1A; fill: #70AB1A;
}

.rg .color-0, .rg .color-9, .rg .color-18, .rg .color-27
{
color: #70AB1A; fill: #70AB1A;
}

.rg .stroke-1, .rg .stroke-10, .rg .stroke-19, .rg .stroke-28
{
border-color: #71A4FF; stroke: #71A4FF;
}

.rg .fill-1, .rg .fill-10, .rg .fill-19, .rg .fill-28
{
background-color: #71A4FF; fill: #71A4FF;
}

.rg .color-1, .rg .color-10, .rg .color-19, .rg .color-28
{
color: #71A4FF; fill: #71A4FF;
}

.rg .stroke-2, .rg .stroke-11, .rg .stroke-20, .rg .stroke-29
{
border-color: #FF8E00; stroke: #FF8E00;
}

.rg .fill-2, .rg .fill-11, .rg .fill-20, .rg .fill-29
{
background-color: #FF8E00; fill: #FF8E00;
}

.rg .color-2, .rg .color-11, .rg .color-20, .rg .color-29
{
color: #FF8E00; fill: #FF8E00;
}

.rg .stroke-3, .rg .stroke-12, .rg .stroke-21, .rg .stroke-30
{
border-color: #A3E634; stroke: #A3E634;
}

.rg .fill-3, .rg .fill-12, .rg .fill-21, .rg .fill-30
{
background-color: #A3E634; fill: #A3E634;
}

.rg .color-3, .rg .color-12, .rg .color-21, .rg .color-30
{
color: #A3E634; fill: #A3E634;
}

.rg .stroke-4, .rg .stroke-13, .rg .stroke-22, .rg .stroke-31
{
border-color: #B3DBFF; stroke: #B3DBFF;
}

.rg .fill-4, .rg .fill-13, .rg .fill-22, .rg .fill-31
{
background-color: #B3DBFF; fill: #B3DBFF;
}

.rg .color-4, .rg .color-13, .rg .color-22, .rg .color-31
{
color: #B3DBFF; fill: #B3DBFF;
}

.rg .stroke-5, .rg .stroke-14, .rg .stroke-23
{
border-color: #F6D16F; stroke: #F6D16F;
}

.rg .fill-5, .rg .fill-14, .rg .fill-23
{
background-color: #F6D16F; fill: #F6D16F;
}

.rg .color-5, .rg .color-14, .rg .color-23
{
color: #F6D16F; fill: #F6D16F;
}

.rg .stroke-6, .rg .stroke-15, .rg .stroke-24
{
border-color: #8CC42C; stroke: #8CC42C;
}

.rg .fill-6, .rg .fill-15, .rg .fill-24
{
background-color: #8CC42C; fill: #8CC42C;
}

.rg .color-6, .rg .color-15, .rg .color-24
{
color: #8CC42C; fill: #8CC42C;
}

.rg .stroke-7, .rg .stroke-16, .rg .stroke-25
{
border-color: #90CBFF; stroke: #90CBFF;
}

.rg .fill-7, .rg .fill-16, .rg .fill-25
{
background-color: #90CBFF; fill: #90CBFF;
}

.rg .color-7, .rg .color-16, .rg .color-25
{
color: #90CBFF; fill: #90CBFF;
}

.rg .stroke-8, .rg .stroke-17, .rg .stroke-26
{
border-color: #F6B200; stroke: #F6B200;
}

.rg .fill-8, .rg .fill-17, .rg .fill-26
{
background-color: #F6B200; fill: #F6B200;
}

.rg .color-8, .rg .color-17, .rg .color-26
{
color: #F6B200; fill: #F6B200;
}

