<div class="pg-ide ui-layout-center">
    <div class="pg-mainbar ui-layout-north pg-pane ui-widget-header"></div>
    <div class="pg-system ui-layout-west pg-pane">
        <div class="pg-folders ui-layout-center pg-pane">
            <div class="pg-toolbar ui-layout-north pg-pane ui-widget-header"></div>
            <div class="pg-tree ui-layout-center pg-pane"></div>
        </div>
        <div class="pg-queries ui-layout-south pg-pane">
            <div class="pg-toolbar ui-layout-north pg-pane ui-widget-header"></div>
            <div class="pg-queries ui-layout-center pg-pane"></div>
        </div>
    </div>
    <div class="pg-main ui-layout-center pg-pane">
        <div class="pg-editor-support ui-layout-center pg-pane">
            <div class="pg-editor ui-layout-center pg-pane">
                <div class="pg-io ui-layout-center pg-pane">
                    <div class="pg-input ui-layout-center pg-pane">
                        <div class="pg-toolbar ui-layout-north pg-pane ui-widget-header"></div>
                        <div class="pg-code-editor ui-layout-center pg-pane"></div>
                    </div>
                    <div class="pg-output ui-layout-south pg-pane">
                        <div class="pg-toolbar ui-layout-north pg-pane ui-widget-header"></div>
                        <div class="pg-result ui-layout-center pg-pane"></div>
                    </div>
                </div>
                <div class="pg-statusbar ui-layout-south pg-pane ui-widget-header"></div>
            </div>
            <div class="pg-support ui-layout-east pg-pane"></div>
        </div>
        <div class="ui-layout-south pg-pane"></div>
    </div>
</div>