<div class="pg-el pg-menu-context-system-node pg-context-menu">
    <ul>
        <li class="pg-toggle"><a href="#">toggle</a></li>
        <li class="pg-query"><a href="#">query all</a></li>
        <li class="pg-create"><a href="#">create folder</a></li>
<!--
        <li class="pg-remove"><a href="#">remove folder</a></li>
-->
<!--
        <li class=""><a href="#">download ...</a></li>
        <li class=""><a href="#">upload ...</a></li>
        <li class=""><a href="#"></a></li>
-->
<!--
        <li class="pg-change-orientation"><a href="#">change orientation</a></li>
        <li class="pg-soft-tabs"><a href="#">indent using spaces</a></li>
        <li data-tab-size="1" class="pg-tab-size-option"><a href="#">tab size: 1</a></li>
        <li data-tab-size="2" class="pg-tab-size-option"><a href="#">tab size: 2</a></li>
        <li data-tab-size="3" class="pg-tab-size-option"><a href="#">tab size: 3</a></li>
        <li data-tab-size="4" class="pg-tab-size-option"><a href="#">tab size: 4</a></li>
        <li data-tab-size="5" class="pg-tab-size-option"><a href="#">tab size: 5</a></li>
        <li data-tab-size="6" class="pg-tab-size-option"><a href="#">tab size: 6</a></li>
        <li data-tab-size="7" class="pg-tab-size-option"><a href="#">tab size: 7</a></li>
        <li data-tab-size="8" class="pg-tab-size-option k-last"><a href="#">tab size: 8</a></li>
-->
    </ul>
</div>