<div class="pg-toolbar-actions pg-tabs-container">
    <button class="pg-editor-settings-trigger ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-secondary" role="button" aria-disabled="false">
        <span class="ui-button-text">tab size: <span class="pg-tab-size"></span></span>
        <span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-n"></span>
    </button>
    |
    line: <span class="pg-line">1</span>,
    column: <span class="pg-column">1</span>
    |
    words: <span class="pg-words">0</span>,
    characters: <span class="pg-characters">0</span>
</div>
<div class="pg-toolbar-context">
    <div class="pg-container pg-progressbar"></div>
    <div class="pg-container pg-execution-time">TIME</div>
</div>