RewriteEngine on
RewriteCond %{REQUEST_FILENAME}  -d
RewriteRule  ^.*$  -  [L]
RewriteCond %{REQUEST_FILENAME}  -f
RewriteRule  ^.*$  -  [L]
RewriteRule ^.*$	index.php [L]

Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers Content-Type
Header set Access-Control-Allow-Method *