<!DOCTYPE html>
<html>
<head>
  <title>MongoDB Status and Setup</title>
  <link rel="stylesheet" type="text/css" href="@baseurl@url.base('css/style.css')">
</head>
<body>
<h1>MongoDB Status and Setup</h1>
<div>
  <h2>DB</h2>
  <dl>
    <dt>name:</dt>
    <dd>@db.name</dd>
    <dt>collections:</dt>
    <dd>@db.collections.join(', ')</dd>
  </dl>
  <h2>Renderables</h2>
  <dl>
    <dt>collection name:</dt>
    <dd>@renderables.name</dd>
    <dt>exists:</dt>
    <dd>@renderables.exists</dd>
    <dt>renderables:</dt>
    <dd>@renderables.count</dd>
  </dl>
  <h2>Cache</h2>
  <dl>
    <dt>collection name:</dt>
    <dd>@cache.name</dd>
    <dt>exists:</dt>
    <dd>@cache.exists</dd>
    <dt>cached values:</dt>
    <dd>@cache.count</dd>
  </dl>
  <h2>Config</h2>
  <dl>
    <dt>collection name:</dt>
    <dd>@config.name</dd>
    <dt>exists:</dt>
    <dd>@config.exists</dd>
    <dt>config parameters count:</dt>
    <dd>@config.count</dd>
  </dl>  <h2>Logs</h2>
  <dl>
    <dt>collection name:</dt>
    <dd>@logs.name</dd>
    <dt>exists:</dt>
    <dd>@logs.exists</dd>
    <dt>logs count:</dt>
    <dd>@logs.count</dd>
  </dl>
</div>
</body>
</html>